*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin sizes($width,$heigth){
    height: $heigth;
    width: $width;
}

.img-carrusel{
    height: 40vh;
    object-fit: cover;
    margin-top: 10px;
}

.nav__imagen{
    @include sizes(3rem,2.6rem);
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.text-title{
    color: #376565;
    text-align: center;
    margin-top: 100px;
    font-size: 2rem;
}

.text-titleSec{
    color: black;
    text-align: center;
    margin-top: 15px;
    font-size: 1.5rem;
    padding: 25px;
}

.text-titleImg{
    color: black;
    text-align: center;
    margin-top: 15px;
    font-size: 1.5rem;
    padding: 25px;
}

.img-nosotros{
    @include sizes(100%,65vh);
    width: 100%;
    height: 65vh;
    object-fit: cover;
    opacity: 0.9;
}

.text-centrado{
    position: absolute;
}

.text-titleDet{
    color: black;
    text-align: center;
    margin-top: 15px;
    font-size: 1.5rem;
    padding: 5px;
    margin-left: 55px;
    margin-right: 55px;

}

#nosotros{
    border: none;
}

#donaciones{
    border: none;
}


.img-donaciones{
    @include sizes(100%,60vh);
    object-fit: cover;
}

.text-dona{
    color: black;
    text-align: center;
    font-size: 1rem;
}

.img-corazon-dona{
    @include sizes(5rem,3rem);
}



.img-huella-dona{
    @include sizes(2rem,2rem);
}

.text-huella{
    margin-left: 2rem;
    margin-right: 2rem;
}

.contenedor-corazon{
    display: flex;
    justify-content: center;
}

.imagen__foto{
    width: 100%;
    border-radius: 2rem;
    padding: 0.5rem;
    z-index: 10;
}

.imagen__foto:hover{
    background-color: #F7AFC4;
    z-index: 20;
}

.imagen__fotoDetalle{
    width: 100%;
    border-radius: 2rem;
    padding: 0.5rem;
}

.fondoNav{
    background: rgb(55,101,101);
    background: linear-gradient(219deg, rgba(55,101,101,1) 54%, rgba(255,255,255,1) 54%);
}

.navbar-light .navbar-nav .nav-link{
    color: white;
} 

.row {
    --bs-gutter-x: 0rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

.bgCard{
    background-color: #376565;
    border-color: #376565;
}

.colorText{
    color: white;
}

.btn-primary:hover {
    color: #fff;
    background-color: #8cbbbb;
    border-color: #8cbbbb;
}

.btn-check:focus+.btn-primary, .btn-primary:focus {
    @extend .btn-primary:hover;  
    box-shadow: 0 0 0 0.25rem rgba(124, 180, 176, 0.5);
}

.navbar-nav .nav-link:hover {
    color: rgba(245, 244, 244, 0.7);
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: rgb(241, 247, 247);
}

$colorPerros:(
    macho: #8FB9F7,
    hembra: #F7AFC4,
);

@each $colorPerro,$color in $colorPerros {
    .btn--#{$colorPerro}{
        width: 100%;
        border-radius: 2rem;
        padding: 0.5rem;
        z-index: 10;
    }
    .btn--#{$colorPerro}:hover{
        background-color: $color;
        z-index: 20;
    }
}

/* MEDIA QUERIES */

@media only screen and (max-width: 320px) {
    .text-title{
        font-size: 1rem;
    }

    .text-titleSec{
        font-size: 0.75rem;
    }

    .text-titleDet{
        font-size: 0.75rem;
    }

    .img-corazon-dona{
        width: 2.5rem;
        height: 1.75rem;
    }

    .text-dona{
        margin-top: 1rem;
        font-size: 0.8rem;
        margin-bottom: 2rem;
    }

    .text-huella{
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        font-size: 0.8rem;
    }

    .fondoNav{
        background: rgb(255,255,255);
        background: linear-gradient(219deg, rgba(255,255,255,1) 54%, rgba(255,255,255,1) 54%);
    }

    .navbar-light .navbar-nav .nav-link{
        color: black;
    } 
}

@media only screen and (min-width: 320px) {
    .text-title{
        font-size: 1.5rem;
    }

    .text-titleSec{
        font-size: 1rem;
    }

    .text-titleDet{
        font-size: 1rem;
    }

    .img-corazon-dona{
        width: 2.5rem;
        height: 1.75rem;
    }

    .text-dona{
        margin-top: 1rem;
        font-size: 0.8rem;
        margin-bottom: 2rem;
    }

    .text-huella{
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        font-size: 0.8rem;
    }

    .fondoNav{
        background: rgb(255,255,255);
        background: linear-gradient(219deg, rgba(255,255,255,1) 54%, rgba(255,255,255,1) 54%);
    }

    .navbar-light .navbar-nav .nav-link{
        color: black;
    } 
}

@media only screen and (min-width: 768px) {
    .text-title{
        font-size: 2rem;
    }

    .text-titleSec{
        font-size: 1.5rem;
    }

    .text-titleDet{
        font-size: 1.5rem;
    }

    .img-corazon-dona{
        width: 2.5rem;
        height: 1.5rem;
    }

    .text-dona{
        margin-top: 1rem;
        font-size: 1rem;
        margin-bottom: 2rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .text-huella{
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        font-size: 1.2rem;
    }

    .fondoNav{
        background: rgb(255,255,255);
        background: linear-gradient(219deg, rgba(255,255,255,1) 54%, rgba(255,255,255,1) 54%);
    }

    .navbar-light .navbar-nav .nav-link{
        color: black;
    } 
}

@media only screen and (min-width: 1024px) {
    .text-dona{
        font-size: 1.5rem;
    }

    .fondoNav{
        background: rgb(55,101,101);
        background: linear-gradient(219deg, rgba(55,101,101,1) 54%, rgba(255,255,255,1) 54%);
    }

    .navbar-light .navbar-nav .nav-link{
        color: white;
    } 
}

//$principal: #376565;
//$apoyo : #C9C1BF;

//$primary: $principal;
//$secondary: $apoyo;

//@import "../libs/bootstrap/scss/bootstrap";

.contenedorImgPet{
    width: 400px;
}

@for $i from 1 through 10 {
    .imagenPetShop#{$i}{
        background-image: url(../images/petShop/producto#{#{$i}}.jpg);
        width: 100%;
        height: 100vh;
        background-repeat: no-repeat
    }
}

